.category {
    width: 100%;
    padding-left: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

details {
    width: 25%;
}

p {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

summary {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;

}

summary:hover {
    text-shadow: 3px 3px black;
    transition: 1s;
}

.links {
    max-width: 20%;
    position: fixed;
    color: black;
    cursor: pointer;
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
}

a {
    padding: 5px 2rem;
    color: white;
    font-size: 1rem;
}