.form {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    box-sizing: border-box;
}

.form label {
    font-size: 2rem;
    padding-right: 1rem;
}

.input {
    width: 100%;
    color: black;
    font-size: 2rem;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    padding: 1rem 2rem;
    outline: none;
}

.input:active {
    border: none;
    border-bottom: 2px solid black;
}

.input::placeholder {
    color: white;
    font-size: 1.5rem;
}

.ValidInput {
    width: 100%;
    color: black;
    font-size: 2rem;
    border: none;
    border-bottom: 2px solid black;
    background-color: red;
    padding: 1rem 2rem;
    outline: none;
}



.validInput:active {
    border: none;
    border-bottom: 2px solid black;
}

.ValidInput::placeholder {
    color: white;
    font-size: 1.5rem;
}




form button {
    padding: 10px 1.5rem;
    background-color: white;
    border: 1px solid blue;
    border-radius: 5px;
    color: black;
    font-size: 1.5rem;
    margin-top: 3rem;
}

form button:hover {
    background-color: blueviolet;
    color: white;
    border: 1px solid white;
    transition: 1s;
}